---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Blob from "../../components/main/Blob.astro";

---

<BaseLayout>
  <Blob />
  <main style="position: relative; z-index: 1; padding-top: 4rem;">
    <h1>Hey</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
  </main>
</BaseLayout>
