---
import LinkButton from '../base/LinkButton.astro';
---
<div class="cv-socials-container">
  <LinkButton 
    icon="linkedin" 
    href="https://www.linkedin.com/in/daryl-ang99/"
    iconColorDark="#0077B7"
    borderColorDark="#0077B7"
    iconColorLight="#0A66C2"
    borderColorLight="#0A66C2"
    text="LinkedIn"
  />
  <LinkButton 
    icon="github" 
    href="https://github.com/ruizaemon"
    iconColorDark="#dbd6d0"
    borderColorDark="#dbd6d0"
    iconColorLight="#24292f"
    borderColorLight="#24292f"
    text="GitHub"
  />
</div>

<style>
  .cv-socials-container {
    display: flex;
    justify-content: center;
    gap: 14px;
  }
  @media (min-width: 768px) {
    .cv-socials-container {
      justify-content: flex-start;
    }
  }
</style>