---
import Navigation from "./Navigation.astro";
import LightDarkMode from "./LightDarkMode.astro";

const { title } = Astro.props;
---
<header>
  <h1>{title}</h1> <!-- Maybe an icon instead of title -->
  <LightDarkMode />
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  nav {
    margin-left: auto;
  }
</style>