---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { languages } from "../../utils/languages";

export async function getStaticPaths() {
  return languages.map((lang) => ({
    params: { lang: lang.code },
  }));
}
---

<BaseLayout>
  <h2>WIP</h2>
</BaseLayout>

