---
import "@fontsource-variable/jetbrains-mono";
import "../styles/global.css";
import Header from "../components/layout/Header.astro";
import themeInitScript from '../scripts/themeInit.js?raw'; // import script as raw string

const locale = Astro.currentLocale || 'en';
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Daryl</title>
		<script is:inline set:html={themeInitScript}></script>
	</head>
	<body>
    <Header title="Portfolio" locale={locale} />
		<main class="main-container">
      <slot />
    </main>
	</body>
</html>

<style>
	.main-container {
		position: relative;
		z-index: 1;
		padding-top: 3vh;
	}

	@media (min-width: 768px) {
		.main-container {
			padding-top: 4vh;
		}
	}
</style>
